*{
    margin: 0px;
    padding: 0px;box-sizing: border-box;
}
.header-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: white; */
    background-color: #182651;
    height: 600px;
}
.icon{
    position: absolute;
    top: 20px;
    left: 40px;
    height: 70px;
    width: 250px;
    /* background-color: black; */
    background-image: url('../Images/Frame 1102.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.header-box{
    display: flex;
    gap: 20px;

}
.img{
    height: 400px;
    width: 800px;
    /* background-color: aqua; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../Images/Group 726.png');
}
form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
input{
    font-size: 17px;
    padding-left: 20px;
    /* text-align: center; */
    padding-left: 20px;
    height: 50px;
    width: 350px;
}
select{
    font-size: 17px;
    padding-left: 20px;
    color: gray;
    height: 50px;
    width: 350px;
}
button{
    font-weight: bold;
    font-size: 20px;
    height: 60px;
    color: white;
    background-color: transparent;
    /* background-color: none; */
    border:2px solid white;
    border-radius: 10px;
}
button:hover{
    color: #182651;
    background-color: white;
    border: none;
}
.header-box2{
    background-color: #DEECFF;
    height: 230px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: bolder;
    font-size: 35px;
    line-height: 40px;
    color: #19437D;
    padding-top: 60px;
    padding-left: 210px;
    padding-right: 210px;
}